html{
    background-color: #E5E5E5;
}

.logo {
    display: flex;
    flex-direction: row-reverse;
}


.logoDaAlura {
    margin: 5% 10% 0;
}
main{
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: center;
}

#main{
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

#mainAdicionarUmaPalavra{
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    align-items: center;
}

#linkBotaoComecar{
    width: 40%;
    height: 67px;
    background-color: #0A3871;
    color: white;
    margin: 10px;
    border-radius: 24px;
    text-align: center;
    font-style: normal;
    border: initial;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    user-select: none;

}

.botaoComecar{
    font-family: 'Inter';
    font-style: normal;
    border: initial;
    font-size: 24px;
    background-color: #0A3871;
    color: white;
    user-select: none;

}

.botaoComecar:active {
    transform: scale(.96);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    user-select: none;

}

.botaoAdicionarNovaPalavra{
    width: 40%;
    height: 67px;
    background-color: #0A3871;
    color: #0A3871;
    border-radius: 24px;
    font-family: 'Inter';
    border: 1px solid #0A3871;
    box-sizing: border-box;
    background: #D8DFE8;
    margin: 10px;
    font-size: 24px;
    user-select: none;
    display: none;
}

.botaoAdicionarNovaPalavra:active {
    transform: scale(.96);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    user-select: none;

}

.botoes{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    user-select: none;
}

.comecarJogo{
    width: 30%;
    height: 67px;
    background-color: #0A3871;
    color: white;
    border-radius: 24px;
    margin: 10px;
    font-family: 'Inter';
    font-style: normal;
    text-align: center;
    border: initial;
    font-size: 24px;
    user-select: none;

}

.salvarEComecar:active {
    transform: scale(.96);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    user-select: none;

}

.cancelar{
    width: 30%;
    height: 67px;
    background-color: #0A3871;
    color: #0A3871;
    border-radius: 24px;
    font-family: 'Inter';
    border: 1px solid #0A3871;
    box-sizing: border-box;
    background: #D8DFE8;
    margin: 10px;
    font-size: 24px;
    user-select: none;

}

#cancelar{
    display: contents;
}

.forca{
    display: none;  
}

.forcaAparecendo{
    display: inline;
}

textarea {
    width: 60%;
    height: 135px;
    margin-bottom: 30px;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    font-size: 36px;
    color: #0A3871;
    text-transform: uppercase;

    
}

textarea::placeholder {
    color: #0A3871;
  }

.conjuntoAviso{
    display: flex;
}

.exclamacao{
    margin-right: 5px;
}

#botaoNovoJogo{
    width: 40%;
    height: 67px;
    background-color: #0A3871;
    color: white;
    margin: 10px;
    border-radius: 24px;
    text-align: center;
    font-style: normal;
    border: initial;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    user-select: none;
    align-items: center;

}

.novoJogo{
    font-family: 'Inter';
    font-style: normal;
    border: initial;
    font-size: 24px;
    background-color: #0A3871;
    color: white;
    user-select: none;

}

.novoJogo:active {
    transform: scale(.96);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    user-select: none;

}


.botaoDesistir{ 
    width: 40%;
    height: 67px;
    background-color: #0A3871;
    color: #0A3871;
    border-radius: 24px;
    font-family: 'Inter';
    border: 1px solid #0A3871;
    box-sizing: border-box;
    background: #D8DFE8;
    margin: 10px;
    font-size: 24px;
    user-select: none;
    display: none;
}

#botaoDesistir{
    display: contents;
    user-select: none;


}

.botaoDesistir:active {
    transform: scale(.96);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    user-select: none;

}

.palavraInvisivel{
    color: #E5E5E5;
    text-decoration: underline;
    text-decoration-style: solid
}

.botao{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    user-select: none;

}

.divParaPalavra{
    width: 100%;
    font-size: 50px;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.cadaLetra{
    width: 50px;
    margin-left: 10px;
    margin-right: 10px;
    text-transform: uppercase;
    color: #f30909;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: #0A3871;
    display: flex;
    justify-content: center;
    user-select: none;
    padding-bottom: 10px;
}

#canvas{
    width: 600px;
    height: 400px;
    background-color: #0d6ae4;
    justify-content: center;
    margin-right: 20px;

}

.letrasECanvas{
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

input{
    margin: 50px;    
    height: 50px;
    width: 40px;
    font-size: 40px;
    text-transform: uppercase;
    justify-content: center;
    text-align:center
}

#botoesDeLetras{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 40px;
    width: 380px;
    height: 300px;
}

#letra{
    margin: 5px;
    width: 40px;
    height: 40px;
    background-color: #0A3871;
    color: white;
    border-radius: 10px;
    font-family: 'Inter';
    font-style: normal;
    border: initial;
    font-size: 24px;
}

#letra:active {
    transform: scale(.80);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    user-select: none;
}

.letraAcertada{
    color: #0A3871;

}

.letraErrada{
    margin: 10px;
    width: 50px;
    height: 50px;
    background-color: #d60909;
    color: white;
    border-radius: 10px;
    font-family: 'Inter';
    font-style: normal;
    border: initial;
    font-size: 24px;
}

.textareaBotaoSalvar{
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.salvarPalavra{
    margin-bottom: 40px;
    width: 100%;
    height: 67px;
    background-color: #0A3871;
    color: white;
    border-radius: 24px;
    font-family: 'Inter';
    font-style: normal;
    text-align: center;
    border: initial;
    font-size: 24px;
    user-select: none;

}

.salvarPalavra:active {
    transform: scale(.96);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    user-select: none;

}

#salvarPalavra{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.areaSalvarPalavra{
    display: none;
}